<html>

    <head>
        <style type="text/css">
            .chart{
                text-align: center;
                display: block;
            }
        </style>
    </head>

    <body ng-app="chartDemoRaphael" ng-controller="appController">

        <bar-chart class="chart" user-data="userData" id="chart1" label-y="Y label" label-x="Label x" bar-color="#ccc"></bar-chart>

        <bar-chart class="chart" user-data="userData2" id="chart2" width="800" height="400" label-y="Y label" label-x="Label x"></bar-chart>

        <br />

        <textarea ng-model="userData"></textarea>
        <br />
        <button ng-click="reset()">Reset data</button>

        <!-- TODO setup grunt script -->
        <script type="text/javascript" src="bower_components/underscore/underscore.js"></script>
        <script type="text/javascript" src="bower_components/raphael/raphael.js"></script>
        <script type="text/javascript" src="bower_components/angular/angular.js"></script>
        <script type="text/javascript" src="src/main.js"></script>
        <script type="text/javascript" src="src/services/BarChart.js"></script>
        <script type="text/javascript" src="src/services/Chart.js"></script>
        <script type="text/javascript" src="src/directives/BarChart.js"></script>
    </body>
</html>